/* style.css */
body {
    background: linear-gradient(to bottom, #8A2BE2, #FF1493);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
}


header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    align-content: center;
    background-color: #7607aa;
    padding: 1px;
    height: auto;
}

h2 {
    
    text-align: center;

}

.tituloVideo{
    margin-top: 220px;
    color: #fff;
    font-family: 'Baloo', cursive;
    font-size: 40px;
    text-align: center;
  
}

.LetraTopo {

    /* Reduza o padding do <h1> para zero (ou o valor desejado) */
    margin-top: 5px;
    color: #fff;
    font-family: 'Baloo', cursive;
    font-size: 40px;
    margin-bottom: 1px;
    text-align: center;
    height: auto;
}

.SubLetra{
    color: #fff;
    font-family: 'Baloo', cursive;
    font-size: 15px;
    text-align: center;
    margin-bottom: 12px;
}
nav ul {
    list-style: none;
    padding: 0;
    height: auto;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    height: auto;
}

nav ul li a {
    text-decoration: none;
    color: #7607aa;
    font-weight: bold;
    height: auto;
}

nav ul li a:hover {
    color: #f00;
    height: auto;
}

section {
    margin: 20px;
    height: auto;
}

.video-container {
    
    align-content: center;
    display: flex; /* Use display flex para alinhar horizontal e verticalmente */
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
    width: 100%; /* Ocupa toda a largura disponível */
    height: 100vh; /* Define a altura como 100% da altura da janela visível */
}

#meuVideo {
.video-container iframe {
    max-width: 100%; /* Garante que o vídeo não ultrapasse a largura do contêiner */

}
}

#botaoTelaCheia {
    position: absolute;
    bottom: 10px;
    left: 40%;
    transform: translateX(-500%);
    z-index: 1;
    margin-top: 5px;
    height: auto;
}


footer {
    background-color: #7607aa;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: auto;
    text-align: center;
    z-index:1;
}

  /* Estilos para dispositivos móveis (telas menores que 768px de largura) */
 @media screen and (max-width: 768px) {
    .video-container {
        width: 100%;
        flex-direction: column;
    }
}


